# Common hidden files
.*

# Avoid accidental commit of dataset
*.bin
*.jsonl

# Node modules (used for throwaway code?)
node_modules/
**/node_modules/

# Sub project git folders
**/.git/
**/*.git/

# Allow back git ignore
!.git*